.row {
  width: 1366px;
  height: 822px;
  margin: 0 auto;
  margin-top: 73px;
  background: #F3F3F3;
  border-radius: 8px;
  font-weight: bold;
}

.content {
  font-size: 28px;
  color: rgba(0, 0, 0, 0.75);
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 32px;
}

.title {
  width: 100%;
  line-height: 96px;
  background: #C04D1F;
  color: #FFFFFF;
  border-radius: 8px;
  background-image: url(../../assets/headImg1366.96.png);
  font-size: 48px;
  text-shadow: 0 2px 4px #00118D;
}

.input {
  width: 427px;
  height: 56px;
  background: #FCFDFF;
  border: 2px solid rgba(53, 105, 241, 0.24);
  border-radius: 28px;
  margin: 0 auto;
  position: relative;
  line-height: 51px;

  :global {
    span {
      font-size: 28px;
      color: rgba(0, 0, 0, 0.75);
      position: absolute;
      left: 15px;
    }

    input {
      outline: none;
      border: none;
      background: none;
      padding-left: 80px;
      padding-right: 10px;
      font-size: 28px;
      height: 51px;
      font-weight: bold;
    }

    .ant-input:focus {
      border: none;
      box-shadow: none;
    }
  }
}

.btn {
  width: 427px;
  height: 56px;
  background-image: linear-gradient(225deg, #4994FA 0%, #235BF4 100%);
  border-radius: 48.5px;
  font-size: 28px;
  color: #FFFFFF;
  margin-top: 32px;
}

.tips {
  margin-top: 79px;

  :global {
    .ant-col {
      width: 240px;
      height: 240px;
      background: #D8D8D8;
      border-radius: 50%;
    }
  }
}

.icon {
  font-size: 160px;
  margin-top: 36px;
}
